.head{
    height: 200px;
    width: 100%;
    background-color: #f1c27d;
    border-radius: 90px;
    position: relative;
    overflow: hidden;
    // display: none;

    &::before{
        content: "";
        display: block;
        width:10px;
        height:40%;
        position: absolute;
        left:5%;
        background-color: #8a8174;
        opacity: 0.25;
        border-bottom-right-radius: 50%;
        transform: rotate(20deg);
    }
    
    &::after{
        content: "";
        display: block;
        width:10px;
        height:40%;
        position: absolute;
        right:5%;
        background-color: #8a8174;
        opacity: 0.25;
        border-bottom-right-radius: 50%;
        transform: rotate(-20deg);
    }

    &__eye{
        width:15px;
        height: 15px;
        background-color: #353535;
        border-radius: 50%;
        position: absolute;
        top:45%;
        transform: translateY(-50%);

        &--left{
            left:25%;
        }
        &--right{
            right: 25%;
        }
    }

    &__ear{
        width:15px;
        height: 25px;
        background-color: #f1c27d;
        position: absolute;
        top:45%;
        transform: translateY(-50%);
    
        &--left{
            left:-15px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;

            &::before{
                content: "";
                display: block;
                width:10px;
                height:15px;
                background-color: #e0ac69;
                position: absolute;
                top:50%;
                right: 0;
                transform: translateY(-50%);
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }
        }
        &--right{
            right: -15px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;

            &::after{
                content: "";
                display: block;
                width:10px;
                height:15px;
                background-color: #e0ac69;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
        }
    }
    
    &__mouth{
        width:30px;
        height: 18px;
        background-color: #ffffff;
        position: absolute;
        top:65%;
        left:50%;
        transform: translate(-50%,-50%);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        z-index: 1;

        &::before{
            content: "";
            display: block;
            background-color: #f1c27d;
            position: absolute;
            top:-15px;
            left:50%;
            transform: translate(-50%,-50%);
            width: 25px;
            height:20px;
            border-radius: 50%;
        }
    }

    &__beard{
        background-color: #8a8174;
        opacity: 0.25;
        width:100%;
        height:45%;
        position: absolute;
        bottom:0;
        
        &::before{
            content: "";
            display: block;
            background-color: #f1c27d;
            width:40%;
            height:15px;
            position: absolute;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;

        }
        &::after{
            content: "";
            display: block;
            background-color: #f1c27d;
            width:40%;
            height:15px;
            right:0;
            position: absolute;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    
}