.missed{
    flex-basis: 100%;
    font-family: $font-family;
    margin-left:10px;
    
    &__title{
        font-size:2.5rem;
        color:#202020;
        text-transform: uppercase;
        margin-left:15px;
        font-weight: 700;
    }

    &__letters{
        font-size:5rem;
        font-weight: 700;
        color: rgb(15, 98, 206);
        display: flex;
        flex-wrap: wrap;
    }

    .letters{
        &__letter{
            padding: 0 5px;
            margin-top:-1.5rem;
        }
    }
}
