$font-family : 'Oswald', sans-serif;
$blue-base-color: rgb(15, 98, 206);
$green-base-color:rgb(120, 214, 120);
$green-secondary-color:rgb(78, 134, 78);
$skin-primary-color: #f1c27d;
$skin-secondary-color:#8a8174;

